.about {
    min-height: 100vh;
}

.about__heading {
    color: #fff;
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
}

.cast {
    color: #fff;
    margin: 0 auto;
}

.cast__box {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.cast__wraper {
    display: flex;
    align-items: center;
    min-width: 300px;
    margin-left: 10%;
}

.cast__img {
    width: 50px;
    object-fit: contain;
    margin-right: 1rem;
}

.cast__name {

}

.cast_character {
    margin-right: auto;
    font-style: italic;
}

.cast__btn {
    margin: 1rem auto;
    display: inline-block;
    padding: 1rem 3rem;
}

