.about {
    min-height: 100vh;
}

.about__heading {
    color: #fff;
    font-size: 3rem;
    text-align: center;
    margin: 2rem 0;
}

.cast {
    color: #fff;
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
}

.cast__box {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.cast__wraper {
    display: flex;
    align-items: center;
    min-width: 300px;
    margin-left: 10%;
}

.cast__img {
    height: 80px;
    object-fit: contain;
    margin-right: 1rem;
}

.cast__name {

}

.cast_character {
    margin-right: auto;
    font-style: italic;
}

.cast__btn {
    margin: 1rem auto;
    display: inline-block;
    padding: .5rem 2rem;
    background-color: #fff;
    outline: none;
    border: none;
    color: rgb(59, 59, 59);
    transition: all .2s ease;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
    border-radius: 5px;
}

.cast__btn:hover {
    color: #fff;
    background-color: rgb(59, 59, 59);
}

