.row {
    margin-left: 20px;
    color: #fff;
}

.row h2 {
    font-size: 2rem;
    text-align: start;
    margin-bottom: 0;
}

.row__heading--main {
    color: #e74d3c;
    text-transform: uppercase;
}

.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    padding-bottom: 2rem;
}

.row__posters::-webkit-scrollbar {
    display: none;
}

.row__poster-holder {
    /* width: 100%; */
    min-height: 220px;
    position: relative;
}

.row__poster {
    object-fit: contain;
    /* width: 100%; */
    height: 220px;
    margin-right: 10px;
    transition: all 450ms;
}

.row__poster:hover {
    transform: scale(1.08);
    backface-visibility: hidden;
    -webkit-box-shadow: 0px 6px 18px 0px rgba(169, 190, 170, 0.29); 
    box-shadow: 0px 6px 18px 0px rgba(169, 190, 170, 0.29);
}

.row__poster__more {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    transition: all .3s;
    font-size: 20px;
    visibility: hidden;
    color: #fff;
    background: rgba(68, 68, 68, 0.808);
    width: 80%;
    border-radius: 5px;
}

.row__poster:hover + a > .row__poster__more,
.row__poster__more:hover {
    visibility: visible;
}


.row__posterLarge {
    height: 300px;
}

.row__posterLarge:hover {
    transform: scale(1.09);
}