form {
    position: relative;
    display: flex;
    align-items: center;
    justify-self: flex-end;
    
    @media only screen and (max-width: 900px) {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        margin-left: auto;
        background-color: #53535394;
        padding-right: 15px;
        border-radius: 5px;
    }

    
}

.search {
    background-color: #e74d3ce3;
    border: none;
    outline: none;
    padding: 10px;
    color: transparent;
    font-size: 15px;
    border-radius: 3px;
    letter-spacing: .5px;
    max-width: 35px;
    transition: all .5s ease-in-out;

    &::placeholder {
        max-width: 0;
        color: rgba(255, 255, 255, 0.733);
        font-size: 15px;

        @media only screen and (max-width: 600px) {
            font-size: 13px;
        }
    }

    &:focus,
    &__active{
        max-width: 250px;
        color: #fff;
    }

    &__btn {
        color: #fff;
        background-color: transparent;
        border: none;
        position: absolute;
        // left: -25px;
        right: 155px;
        // top: 50%;
        // transform: translateY(-50%);
        transform: translateX(30px);
        cursor: pointer;
        outline: none;
        transition: all .5s ease;

        @media only screen and (min-width: 900px) {
            &:hover {
                color: rgb(26, 26, 26);
            }
        }

        @media only screen and (max-width: 900px) {
            right: 169px;
        }

        @media only screen and (max-width: 600px) {
            right: 164px;
        }
        
    }

    &__active::placeholder,
    &:focus::placeholder {
        max-width: 250px;
    }
}



.toggle {
    color: #fff;
    display: flex;
    margin-left: 1rem;

    @media only screen and (max-width: 600px) {
        font-size: .9rem;
    }
    
    &__outer {
        cursor: pointer;
        border: 2px solid #e74d3c;
        margin: 0 .2rem;
        width: 40px;
        background-color: #e74d3c;
        border-radius: 50px;
        display: flex;
    }
    
    &__inner {
        transition: all .3s ease;
        height: 15px;
        width: 15px;
        background-color: #fff;
        border-radius: 100%;
        margin: 3px;
    }

    &__inner--active {
        // margin-left: auto;
        // justify-content: flex-end;
        transform: translateX(100%);
    }
}