.video {
    border: transparent;
    background-color: transparent;
    color: transparent;
    height: 70vh;
    padding-right: 20px;
    position: relative;

    &:hover > &__close i {
        opacity: 1;
    }

    @media only screen and (max-width: 600px) {
        height: 50vh;
    }

    &__close i {
        opacity: 0;
        font-size: 35px;
        position: absolute;
        top: 75px;
        right: 55px;
        // z-index: 1000;
        color: #fff;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            color: rgb(180, 180, 180);
        }

        @media only screen and (max-width: 500px) {
            font-size: 25px;
            top: 60px;
            right: 50px;
        }
    }

    iframe {
        border: transparent;
        background-color: transparent;
        color: transparent;
        padding: 0;
        margin: 0;
    }
}